body {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
    text-align: center;
    background-color: #848484;

}
strong { 
	font-weight: 500; 
}

/* Contenidos y Formulario*/

.my-content {
    padding: 0 15px;

}
.myform-cont {
    margin-top: 50px;
}
.myform-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: rgba(0, 0, 0, 0.35);
    -moz-border-radius: 10px 10px 0 0; 
    -webkit-border-radius: 10px 10px 0 0; 
    border-radius: 10px 10px 0 0;
}
.myform-top-left { 
    float: left;
    width: 75%;
    padding-top: 25px;
    text-align: left;
}
.myform-top-left p { 
    opacity: 0.8; 
}
.myform-top-right {
    float: right;
    width: 25%;
    padding-top: 25px;
    font-size: 66px;
    text-align: right;
    opacity: 0.3;
}
.myform-bottom {
    padding: 25px 25px 30px 25px;
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0 0 10px 10px; 
    -webkit-border-radius: 0 0 10px 10px; 
    border-radius: 0 0 10px 10px;
}
.myform-bottom .mybtn {
    width: 100%;
}
input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
    height: 50px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    
}
input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
    background: #fff;
    border: 2px solid #1AAE88;
}
button.mybtn {
    height: 50px;
    background: #0040FF;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; 
     border-radius: 4px;
}
button.mybtn:hover, button.mybtn:active { 
    opacity: 0.6;  
}
